@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
}

body {
  @apply bg-slate-950;
}

.bg-square {
  --square-size: 30px;
  --line-clr: #ffffff0d;
  background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent var(--square-size),
      var(--line-clr) var(--square-size),
      var(--line-clr) calc(var(--square-size) + 1px)
    ),
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 29px,
      var(--line-clr) var(--square-size),
      var(--line-clr) calc(var(--square-size) + 1px)
    ),
    radial-gradient(circle at 100px 200px, #920075 -350%, transparent),
    radial-gradient(
      circle at calc(100% - 150px) calc(100% - 250px),
      #03edf9 -1000%,
      transparent
    );
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[5px] bg-[#9d8bca30];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#9d8bca50];
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
