@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full subpixel-antialiased;
}

body {
  @apply bg-slate-950;
}

.bg-square {
  --square-size: 30px;
  --line-clr: #ffffff0d;
  background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent var(--square-size),
      var(--line-clr) var(--square-size),
      var(--line-clr) calc(var(--square-size) + 1px)
    ),
    repeating-linear-gradient(
      to right,
      transparent,
      transparent calc(var(--square-size) - 1px),
      var(--line-clr) var(--square-size),
      var(--line-clr) calc(var(--square-size) + 1px)
    ),
    radial-gradient(circle at 100px 200px, #920075 -350%, transparent),
    radial-gradient(
      circle at calc(100% - 150px) calc(100% - 250px),
      #03edf9 -1000%,
      transparent
    );
}

::-webkit-scrollbar {
  @apply size-2.5;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[5px] bg-[#9d8bca30];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#9d8bca50];
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.btn-gradient {
  @apply w-full md:w-fit flex justify-center px-3 py-2 rounded-lg disabled:cursor-not-allowed disabled:opacity-50 transition-background-position duration-1000 bg-gradient-to-r from-[#614d85] via-[#952676] to-[#2d1854] bg-left bg-300% hover:bg-right hover:scale-[1.01] active:scale-[0.98] disabled:hover:bg-left disabled:hover:scale-100;
}
